* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 19.5vw;
}

.hero-content {
  margin-right: 20vw;
}

h1 {
  font-size: 48px;
  font-weight:800;
  /* color: #f9faf8; */
}

.hero-text {
  font-size: 18px;
  margin-right: 4vw;
  /* color: #e5e7eb; */
}

.hero-img {
  background-image: url('https://fakeimg.pl/400x200')
}

.info-container {
  margin: 0 19.5vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.square-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  height: 150px;
  width: 150px;
  border: 2px solid blue;
  border-radius: 10px;
  margin: 0 25px;
  text-align: center;
}

.square-p {
  width: 7vw;
  margin: auto
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight:300;
  width: 40vw;
  margin: auto;
  color: #1F2937;
}

.quote-author {
  display: flex;
  justify-content: center;
  width: 122vw;
}