* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.hero-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.hero-img {
  background-image: url('https://fakeimg.pl/400x200')
}

.square-container {
  display: flex;

  flex-direction: row;
  justify-content: space-evenly;
}

.square {
  height: 100px;
  width: 100px;
  border: 2px solid blue;
  border-radius: 10px;
  margin: auto;
  
}